PORT=5000

MONGODB_URI=mongodb://localhost:27017/
# OR for MongoDB Atlas:
# MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/chatapp
CLIENT_URL=http://localhost:5173


NODE_ENV=development

# JWT Secrets (Generate strong random strings for production)
ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=

# Token Expiry
ACCESS_TOKEN_EXPIRY=15m
REFRESH_TOKEN_EXPIRY=7d
# ml url
ML_API_URL=http://localhost:8000
PARENT_DASHBOARD_URL=http://localhost:5173/parent-dashboard