# Ignore virtual environment
venv/
myenv/
myenv
# Ignore model directory
model/

# Ignore model download script
model_download.py

# Optional: ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
